@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*Style for our navbar*/
.navbar-brand {
  font-family: 'JetBrains', monospace;
  font-size: 1.6rem;
}

.nav-link {
  font-size: 1.1rem;
  transition: all .2s ease;
  color: #444 !important;
}

.nav-link:hover {
  background: #eee;
  color: #000 !important;
  font-size: 1.2rem;
}

/*Tab*/
.btn-tab {
  margin-top: 1rem;
}

.tab-pane {
  color: #575757 !important;
}

/*Run and dl btn*/
.run-and-dl-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
}

.run-btn, 
.download-btn{
  margin-top: 5px;
  padding: .2rem .4rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: transparent;
  font-size: 1.2rem;
  color: #5f5f5f;
  cursor: pointer;
  transition: all .2s ease;
}

.run-btn:hover,  
.download-btn:hover {
  background: #5f5f5f;
  color: lightgray;
}

/*Download note*/
.dl-note {
  font-size: .9rem;
  color: #898989;
  margin-top: 1rem;
  font-style: italic;
}

.html-file-dl,
.css-file-dl,
.js-file-dl {
  margin-left: .5rem;
  border: 1px solid #1bd324;
  border-radius: 5px;
  background: #fff;
  color: #1bc122;
  cursor: pointer;
  transition: all .2s ease;
}

.html-file-dl:hover,
.css-file-dl:hover,
.js-file-dl:hover{
  background: #1bc122;
  color: #fff;
}

/*Output heading*/
.output-heading-container {
  position: relative;
}

.output-heading {
  font-family: 'JetBrains', monospace;
  font-size: 1.4rem;
  text-align: center;
}

.output-heading::before, .output-heading::after {
  content: "";
  background: #000;
  height: 2px;
  width: 25vw;
  position: absolute;
}

.output-heading::before {
  top: 50%;
  left: 5%;
}

.output-heading::after {
  top: 50%;
  right: 5%;
}

/*To remove the mobile button from Ace*/
span.ace_mobile-button, div.ace_mobile-menu {
  display: none;
}

/*Our preview*/
.iframe-container {
  display: grid;
  place-items: center;
}

.preview {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  width: 100%;
}

/*Settings*/
.settings-body {
  display: flex;
  flex-direction: column;
}

.settings-content {
  margin-top: .8rem;
}

/*Media queries*/